@use "sass:list";

// @use "abstracts/mixins" as mx;

/// Hover styles only for devices with hover support
/// usage
/// @include mx.hover {
///   color: red;
/// }

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

/// Transition css properties
/// usage
/// @include mx.transition(color);
/// @include mx.transition(color, 1s, ease-in);
/// @include mx.transition(color background);
/// @include mx.transition(color background transform, 0.3s, ease);

@mixin transition(
  $properties,
  $duration: var(--base-transition-duration),
  $easing: var(--base-transition-timing-function)
) {
  $list: ();
  @each $prop in $properties {
    $str: #{$prop} #{$duration} #{$easing};
    $list: list.join($list, #{$str}, comma);
  }
  transition: $list;
}
