@use "abstracts/mixins" as mx;
@use "abstracts/media" as mq;
@use "abstracts/helpers";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 360px;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: var(--base-font-weight);
  color: var(--color-white);
  background: var(--color-black);
}

h1,
h2,
h3,
p {
  margin: 0 0 var(--base-margin-bottom);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
.subtitle {
  display: block;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  font-weight: var(--heading-font-weight);
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);

  @include mq.media(">=desktop") {
    font-size: 50px;
  }
}

h2 {
  font-size: var(--h2-font-size);

  @include mq.media(">=desktop") {
    font-size: 46px;
  }
}

h3 {
  font-size: var(--h3-font-size);
  color: var(--color-orange);

  @include mq.media(">=desktop") {
    font-size: 26px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  @include mx.transition(color);
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);

  @include mx.hover {
    color: var(--link-hover-color);
  }
}

.btn {
  @include mx.transition(background-position);
  min-width: 200px;
  display: inline-block;
  vertical-align: middle;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  text-transform: uppercase;
  color: var(--btn-color);
  padding: var(--btn-padding);
  background-image: var(--btn-background);
  background-size: 200% 100%;
  background-position: 0% 0%;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  overflow: hidden;

  @include mx.hover {
    color: var(--btn-color);
    background-position: 100% 0%;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: var(--container-max-width);
  padding: var(--container-padding);
  margin: 0 auto;
}
